modules = ["nodejs-20", "web", "bash", "nix"]
run = "firebase deploy"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "firebase deploy"]

[[ports]]
localPort = 5000

[[ports]]
localPort = 5001

[[ports]]
localPort = 5007
externalPort = 4200
exposeLocalhost = true

[[ports]]
localPort = 8882
externalPort = 3000

[[ports]]
localPort = 9005
externalPort = 80

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".json"]
id = "module:web/languageServer:typescript-language-server"
